<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="../../admin_asset/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="../../admin_asset/#" class="current">Quản lí thể loại</a> </div>
    <h1>Danh sách thể loại</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        
        
        
        <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>Chọn tất cả</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table table-striped with-check">
              <thead>
                <tr>
                  <th><i class="icon-resize-vertical"></i></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Sửa</th>
                  <th>Xóa</th>

                </tr>
              </thead>
              <tbody>
              <% TheLoais.forEach(TheLoai => { %>
				        <tr>
                  <td><input type="checkbox" /></td>
                  <td><%= TheLoai.id %></td>
                  <td><%= TheLoai.name %></td>
                  <td><%= TheLoai.description %></td>
                  <td><a href="../../admin/theloai/<%= TheLoai.id %>">Sửa</a></td>
                  <td><a href="../../admin/theloai/xoa/<%= TheLoai.id %>">Xóa</a></td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2016 &copy;</a> </div>
</div>
<!--end-Footer-part-->
<script src="../../admin_asset/js/jquery.min.js"></script> 
<script src="../../admin_asset/js/jquery.ui.custom.js"></script> 
<script src="../../admin_asset/js/bootstrap.min.js"></script> 
<script src="../../admin_asset/js/jquery.uniform.js"></script> 
<script src="../../admin_asset/js/select2.min.js"></script> 
<script src="../../admin_asset/js/jquery.dataTables.min.js"></script> 
<script src="../../admin_asset/js/matrix.js"></script> 
<script src="../../admin_asset/js/matrix.tables.js"></script>
</body>
</html>
