<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Delish Food a Hotels and Restaurants Category Flat Bootstrap responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Delish Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="page_asset/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="page_asset/css/font-awesome.css" rel="stylesheet"> 
<link href="page_asset/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
<!--//web-fonts-->
</head>
<body>
<!-- banner -->
	<div class="banner" id="home">
		<!-- header -->
		<div class="banner-top">
			<div class="social-bnr-agileits">
				<ul>
					<li><a href="page_asset/#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="page_asset/#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="page_asset/#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="page_asset/#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>					
				</ul>
			</div>
			<div class="contact-bnr-w3-agile">
				<ul>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="page_asset/mailto:info@example.com">INFO@EXAMPLE.COM</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+1 (100)222-23-33</li>	
					<li>
						<div class="search">
							<input class="search_box" type="checkbox" id="search_box">
							<a href="./cart"><i class="fa fa-shopping-cart"></i></a><span id="totalQty" style="color:white">
							<% if (session.cart) {%>
							<%= session.cart.totalQty %>
							<% } %></span></label>
							<div class="search_form">
								<form action="#" method="post">
									<input type="search" name="Search" placeholder="Search..." required="" />
									<input type="submit" value="Send" />
								</form>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<header>
			<div class="container">

			<!-- navigation -->
			<div class="w3_navigation">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="w3_navigation_pos">
						<h1><a href="page_asset/index.html"><span>D</span>elish <span>F</span>ood</a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--miranda">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><a href="page_asset/index.html" class="menu__link">Home</a></li>
							<li class="menu__item"><a href="page_asset/about.html" class=" menu__link">About</a></li>
							<li class="menu__item"><a href="page_asset/services.html" class=" menu__link">Services</a></li>
							<li class="menu__item"><a href="page_asset/gallery.html" class=" menu__link">Gallery</a></li>
							<li class="dropdown menu__item">
						<a href="page_asset/#" class="dropdown-toggle menu__link"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="page_asset/codes.html">Short Codes</a></li>
							<li><a href="page_asset/icons.html">Icons</a></li>
						</ul>
					</li>
							<li class="menu__item"><a href="page_asset/contact.html" class=" menu__link">Contact</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
	</div>
	<div class="clearfix"></div>
		<!-- //navigation -->
			</div>
		</header>
	<!-- //header -->
	<!-- banner-text -->
		<div class="banner-text"> 
			<h2>FABULOUS FOOD AT AFFORDABLE PRICES!</h2>
			<div class="book-form">
			<p>Reserve a table.</p>
			   <form action="./findproducts" method="get">
					<div class="col-md-4 form-left-agileits-w3layouts ">
							<label><i class="fa fa-users" aria-hidden="true"></i> Loại Sản Phẩm :</label>
							<select class="form-control" name="loaitin">
								<option value="0">Tất Cả</option>
								<% LoaiTins.forEach(loaitin => { %>
										<option value="<%= loaitin.id %>"><%= loaitin.name %></option>
								<% }) %>
							</select>
					</div>
					<div class="col-md-4 form-left-agileits-w3layouts ">
							<label><i class="fa fa-users" aria-hidden="true"></i> Tên Sản Phẩn :</label>
								<input class="form-control" type="text" name="tintuc">
					</div>
					<div class="col-md-4 form-left-agileits-submit">
						  <input type="submit" value="Find Products">
					</div>
				</form>
			</div>
		</div>

	</div>
<!-- //banner -->
   <!-- Page Content -->
    <div class="container">

        <!-- slider -->
        
        <!-- end slide -->

        <div class="space20"></div>

		
        <div class="row main-left">
        	<!-- left menu -->
            <div class="col-md-2 ">
                <ul class="list-group" id="menu">
                    <li href="#" class="list-group-item menu1 active">
                        Thực Đơn
                    </li>
                    <% LoaiTins.forEach(loaitin => { %>
	                    <li href="#" class="list-group-item menu1">
	                        <a href="#"><%= loaitin.name %></a>
	                    </li>
                    <% }) %>
                </ul>
            </div>
            <!-- end left menu -->

            <style>
                  .thumbnail {
                      padding: 0 0 15px 0;
                      border: 1px solid #d9d9d9;
                  }
                  .thumbnail p {    
                      margin-top: 15px;
                      color: #555;
                  }
                  .thumbnail img {
                      padding: 5px 5px 5px 5px;
                  }
                  .btn {
                      padding: 10px 20px;
                      background-color: #333;
                      color: #f1f1f1;
                      border-radius: 0;
                      transition: .2s;
                  }
                  .btn:hover, .btn:focus {
                      border: 1px solid #333;
                      background-color: #fff;
                      color: #000;
                  }
            </style>

            <div class="col-md-10">
                <div class="panel panel-default">            
                    <div class="panel-heading" style="background-color:#337AB7; color:white;" >
                        <h2 style="margin-top:0px; margin-bottom:0px;">Món Mới</h2>
                    </div>
                    <div class="panel-body">
                        <!-- item -->
                        <%
							var getitem = TinTucs.slice(0,8);
							var i,j,temparray,chunk = 4;
							for (i=0,j=getitem.length; i<j; i+=chunk) {
							    temparray = getitem.slice(i,i+chunk);
						%>
						<div class="row-item row text-center">     
						<% temparray.forEach(tintuc => { %>
                            <div class="col-md-3" w3l-special-grid>
                                <div class="thumbnail" style="border: 1px solid #d9d9d9">
                                    <img src="./<%= tintuc.image %>" width="400" height="300">                           
                                    <p style="font-size: 14px"><%= tintuc.name %></p>
                                    <p style="font-size: 16px"><strong><%= tintuc.price %>.000đ</strong></p>
                                    <button onclick="addItem(<%= tintuc.id %>)" class="btn" data-toggle="modal" data-target="#myModal">Add Cart</button>
                                    <!--<a href="./add/<%= tintuc.id %>">Add</a>-->
                                </div>
                            </div>
						<% }) %>
							<div class="break"></div>
	                        </div>
						<% } %>	
                        <!-- end item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- end Page Content -->
    <script>
		function addItem(id){
			$.get("./add/"+id, function(data, status){
				console.log(data.totalQty+ "____" + status);
				$("#totalQty").html(data.totalQty);
			});
		}
    </script>
		  

 



	<!--count-->
			<div class="count-agileits">
				<div id="particles-js"></div>
					
					<div class="count-grids">
					<h3 class="tittle-w3">Handling <span>your needs</span> with care</h3>
					<div class="count-bgcolor-w3ls">
						<div class="col-md-4 count-grid">
						<i class="fa fa-cutlery" aria-hidden="true"></i>
							<div class="count hvr-bounce-to-bottom">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1052' data-delay='.5' data-increment="100">1052</div>
									<span></span>
									<h5>Products available</h5>
							</div>
						</div>
						<div class="col-md-4 count-grid">
						<i class="fa fa-users" aria-hidden="true"></i>
							<div class="count hvr-bounce-to-bottom">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='372' data-delay='.5' data-increment="100">372</div>
									<span></span>
									<h5>Clients come back</h5>
							</div>
						</div>
						<div class="col-md-4 count-grid">
						<i class="fa fa-user-plus" aria-hidden="true"></i>
							<div class="count hvr-bounce-to-bottom">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='105209' data-delay='.5' data-increment="100">105209</div>
									<span></span>
									<h5>Site members</h5>
								</div>
						</div>
						<div class="clearfix"></div>
						</div>
					</div>
			</div>
				<!--count-->
				<!--services-section-->
<div class="services-w3layouts" id="services">
	<!-- //Stats -->
			<div class="col-md-6 agitsworkw3ls-grid ">
			<h3 class="tittle-w3"><span>Always</span> fresh <span>& </span>delicious <span>food</span></h3>
			<p class="para-w3l">Gourmet is a full-service catering and event planning company dedicated to providing you with exquisite cuisine and fantastic customer service. We offer a variety of menus and design options, for everything from box lunches to full-service plated dinners.</p>
			<div class="services-left-w3-agile">
				<h3 class="tittle-w3 sub-head"><span>Our </span>Menu</h3>
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i>BEVERAGES</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>BREAKFASTS</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>LUNCH BUFFETS</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>DINNER BUFFETS</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>PARTY TRAYS</li>
				</ul>
				</div>
				<div class="services-right-w3-agile">
				<h3 class="tittle-w3 sub-head"><span>Catering</span> for</h3>
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i>GRADUATION PARTY</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>WEDDING PARTY</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>BRIDAL SHOWER</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>BIRTHDAY PARTY</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>ANNIVERSARY</li>
				</ul>
				</div>
			</div>

			<div class="col-md-6 agitsworkw3ls-grid-2">
			   <div class="info-imgs">
			         <ul>
					  <li>
						  <div class="gallery-grid1">
								<a href="page_asset/single.html"><img src="page_asset/images/s1.jpg" alt=" " class="img-responsive"></a>
								<div class="p-mask">
										<h4><span>D</span>elish <span>F</span>ood</h4>
									<p>Neque porro quisquam est, qui dolorem ipsum.</p>
								</div>
							</div>
					  </li>
					   <li>
					     <div class="gallery-grid1">
							<a href="page_asset/single.html"><img src="page_asset/images/s2.jpg" alt=" " class="img-responsive"></a>
							<div class="p-mask">
									<h4><span>D</span>elish <span>F</span>ood</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					   </li>
						<li>
						   <div class="gallery-grid1">
							<a href="page_asset/single.html"><img src="page_asset/images/s3.jpg" alt=" " class="img-responsive"></a>
							<div class="p-mask">
									<h4><span>D</span>elish <span>F</span>ood</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
						</li>
					    <li>
						  <div class="gallery-grid1">
							<a href="page_asset/single.html"><img src="page_asset/images/s4.jpg" alt=" " class="img-responsive"></a>
							<div class="p-mask">
									<h4><span>D</span>elish <span>F</span>ood</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
						</li>
					 </ul>
			   </div>
				
			</div>
			<div class="clearfix"></div>
	<!-- //Stats -->
<div class="clearfix"></div>
</div>
<!--//services-section-->

<!-- mail -->
				<div class="mail">
					<div class="mail-grid1">
					<div class="container">	
						<h3 class="tittle-w3">Contact <span>Info</span></h3>
							<div class="col-md-4 mail-agileits-w3layouts">
								<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Phone</p><span>+1 (100)222-23-33</span>
								</div>
							</div>
							<div class="col-md-4 mail-agileits-w3layouts">
								<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Email</p><a href="page_asset/mailto:info@example.com">info@example.com</a>
								</div>
							</div>
							<div class="col-md-4 mail-agileits-w3layouts">
								<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Address</p><span>7784 Diamonds street, California, US.</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
				<div class="col-md-7 map ">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359195.17562375!2d-113.7156245614499!3d36.2473834534249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1452332634941"></iframe>
				</div>
					<div class="col-md-5 mail-grid1-form ">
						<h3 class="tittle-w3"><span>Send a </span>Message</h3>
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Name" required="" />
							<input type="email" name="Email" placeholder="Email" required="" />
							<textarea name="Message" placeholder="Type Your Text Here...." required=""></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
			<!-- //mail -->

			<div class="copyright-wthree">
				<p>&copy; 2017 Delish Food . All Rights Reserved | Design by <a href="page_asset/http://w3layouts.com/"> W3layouts </a></p>
			</div>
<!-- //Footer -->

	<a href="page_asset/#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="page_asset/js/jquery-2.1.4.min.js"></script>
<script src="page_asset/js/particles.js"></script>
<script src="page_asset/js/app.js"></script>
<!--gallery-->
<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems:4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="page_asset/js/jquery.flexisel.js"></script>
<!--gallery-->
<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->
<!-- Calendar -->
				<link rel="stylesheet" href="page_asset/css/jquery-ui.css" />
				<script src="page_asset/js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
 <!-- start-smoth-scrolling -->
<script type="text/javascript" src="page_asset/js/move-top.js"></script>
<script type="text/javascript" src="page_asset/js/easing.js"></script>

<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<!--js for bootstrap working-->
	<script src="page_asset/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- script-for-menu -->
					<script>					
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle("slow" , function(){
							});
						});
					</script>
					<!-- script-for-menu -->
</body>
</html>