<!DOCTYPE html>
<html lang="en">
<head>
<title>Quản lí thể loại</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../admin_asset/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../admin_asset/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../admin_asset/css/uniform.css" />
<link rel="stylesheet" href="../../admin_asset/css/select2.css" />
<link rel="stylesheet" href="../../admin_asset/css/matrix-style.css" />
<link rel="stylesheet" href="../../admin_asset/css/matrix-media.css" />
<link href="../../admin_asset/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="../../admin_asset/dashboard.html">Trang quản trị</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="../../admin_asset/#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Xin chào</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="../../admin_asset/#"><i class="icon-user"></i> Thông tin</a></li>
        <li class="divider"></li>
        <!--<li><a href="../../admin_asset/#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>-->
        <li><a href="../../admin_asset/#"><i class="icon-key"></i> Thoát</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="../../admin_asset/#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Tin nhắn</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="../../admin_asset/#"><i class="icon-plus"></i> Tin nhắn mới</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="../../admin_asset/#"><i class="icon-envelope"></i> Thư đến</a></li>
        <li class="divider"></li>
        <!--<li><a class="sOutbox" title="" href="../../admin_asset/#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>-->
        <li><a class="sTrash" title="" href="../../admin_asset/#"><i class="icon-trash"></i> Đã xóa</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="../../admin_asset/#"><i class="icon icon-cog"></i> <span class="text">Cài đặt</span></a></li>
    <li class=""><a title="" href="../../admin_asset/#"><i class="icon icon-share-alt"></i> <span class="text">Thoát</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Tìm kiếm..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch--> 

<!--sidebar-menu-->

<div id="sidebar"><a href="../../admin_asset/#" class="visible-phone"><i class="icon icon-home"></i> Trang quản trị</a>
  <ul>
    <li ><a href="../../admin_asset/index.html"><i class="icon icon-home"></i> <span>Trang quản trị</span></a> </li>
    <li class="submenu"> <a href="../../admin_asset/#"><i class="icon icon-signal"></i> <span>Bài viết</span> <span class="label label-important">20</span></a>
      <ul>
        <li><a href="../../admin_asset/baimoi.html" >Thêm bài viết</a></li>
        <li><a href="../../admin_asset/qlibaiviet.html">Quản lí bài viết</a></li>
        
        
      </ul>
    </li>
    
    <li> <a href="../../admin_asset/qlibinhluan.html"><i class="icon icon-inbox"></i> <span>Bình luận</span></a> </li>
    <li><a href="../../admin_asset/qlithanhvien.html"><i class="icon icon-th"></i> <span>Thành viên</span></a></li>
    <li class="submenu active open"><a href="../../admin_asset/#"><i class="icon icon-fullscreen"></i> <span>Thể loại</span></a>
      <ul>
        <li><a href="../../admin_asset/themtheloai.html">Thêm thể loại</a></li>
        <li class="active"><a href="../../admin_asset/qlitheloai.html">Danh sách thể loại</a></li>
        
        
      </ul>
    </li>
    <li><a href="../../admin_asset/#"><i class="icon icon-th-list"></i> <span>Lịch chiếu</span></a></li>
    
    
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="../../admin_asset/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="../../admin_asset/#" class="current">Quản lí thể loại</a> </div>
    <h1>Danh sách thể loại</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        
        
        
        <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>Chọn tất cả</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table table-striped with-check">
              <thead>
                <tr>
                  <th><i class="icon-resize-vertical"></i></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Thể Loại</th>
                  <th>Sửa</th>
                  <th>Xóa</th>

                </tr>
              </thead>
              <tbody>
              <% TinTucs.forEach(TinTuc => { %>
				        <tr>
                  <td><input type="checkbox" /></td>
                  <td><%= TinTuc.id %></td>
                  <td><%= TinTuc.name %></td>
                  <td><%= TinTuc.summmary %></td>
                  <td><%= TinTuc.LoaiTin.name %></td>
                  <td><a href="../../admin/tintuc/<%= TinTuc.id %>">Sửa</a></td>
                  <td><a href="../../admin/tintuc/xoa/<%= TinTuc.id %>">Xóa</a></td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2016 &copy;</a> </div>
</div>
<!--end-Footer-part-->
<script src="../../admin_asset/js/jquery.min.js"></script> 
<script src="../../admin_asset/js/jquery.ui.custom.js"></script> 
<script src="../../admin_asset/js/bootstrap.min.js"></script> 
<script src="../../admin_asset/js/jquery.uniform.js"></script> 
<script src="../../admin_asset/js/select2.min.js"></script> 
<script src="../../admin_asset/js/jquery.dataTables.min.js"></script> 
<script src="../../admin_asset/js/matrix.js"></script> 
<script src="../../admin_asset/js/matrix.tables.js"></script>
</body>
</html>
