<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
<body>

<% include ../partials/header %>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="../../admin_asset/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="../../admin_asset/#" class="current">Quản lí thể loại</a> </div>
    <h1>Danh sách thể loại</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        
        
        
        <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>Chọn tất cả</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table table-striped with-check">
              <thead>
                <tr>
                  <th><i class="icon-resize-vertical"></i></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Thể Loại</th>
                  <th>Sửa</th>
                  <th>Xóa</th>

                </tr>
              </thead>
              <tbody>
              <% TinTucs.forEach(TinTuc => { %>
				        <tr>
                  <td><input type="checkbox" /></td>
                  <td><%= TinTuc.id %></td>
                  <td><%= TinTuc.name %></td>
                  <td><%= TinTuc.summmary %></td>
                  <td><%= TinTuc.LoaiTin.name %></td>
                  <td><a href="../../admin/tintuc/<%= TinTuc.id %>">Sửa</a></td>
                  <td><a href="../../admin/tintuc/xoa/<%= TinTuc.id %>">Xóa</a></td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>